.feedback {
    background-color: #F4F5F5;
    padding-top: 62px;
    padding-bottom: 96px;
}
.feedback__title {
    font-size: 48px;
    font-weight: 700;
    color: #1A1B1E;
    margin-bottom: 57px;
}
.feedback__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 26px;
}
.feedback__block:last-child {
    margin-bottom: 0;
}
.feedback__block-item {
    width: calc(100% / 2 - 14px);
    font-size: 18px;
    color: #1A1B1E;
    border: 1px solid transparent;
    padding: 19px 0 21px 30px;
}
.feedback__block-item--reviews {
    width: 100%;
    margin-bottom: 0;
    height: 235px;
    resize: none;
}
.feedback__block-item:focus {
    border-color: #F5170E;
}
.feedback__pages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.feedback__display {
    display: inline-block;
    font-size: 18px;
    width: 38%;
}
.feedback__select {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7px;
    margin-bottom: -7px;
    width: 62%;
}
.feedback__select-item {
    margin-right: 7px;
    margin-bottom: 7px;
}
.feedback__select-input {
    display: none;
}
.feedback__select-input:checked ~ .feedback__select-text {
    color: #1A1B1E;
    background-color: #B9EAE4;
}
.feedback__select-text {
    transition: 0.2s;
}
.feedback__select-item:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
.feedback__button {
    display: flex;
    justify-content: flex-end ;
}
.feedback__button .button {
    margin-right: 17px;
}
.feedback__button .button:last-child {
    margin-right: 0;
}
