.reviews {
    margin-bottom: 85px;
}
.reviews__content {
    display: flex;
    margin-bottom: 97px;
}
.reviews__block {
    column-count: 2;
    column-gap: 26px;
    margin-bottom: -17px;
}
.reviews__card {
    background-color: #F4F5F5;
    border-radius: 5px;
    margin-bottom: 17px;
    padding: 50px 31px 32px 31px;
}
.reviews__card-item {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.reviews__card-photo {
    background-repeat: 50px;
    overflow: hidden;
    margin-right: 22px;
}
.reviews__card-person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    margin-bottom: 20px;
}
.reviews__card-name {
    color: #1A1B1E;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.reviews__card-name::after {
    content: url(../../image/reviews/vk.png);
    padding-left: 7px;
}
.reviews__card-name:hover {
    text-decoration: underline;
    color: #2E77A4;
}
.reviws__card-link {
    background-color: #B9EAE4;
}
.reviews__card-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: #1A1B1E;
    margin-bottom: 15px;
}
.reviews__card-description {
    font-size: 16px;
    color: #818181;
    line-height: 1.6;
    margin-bottom: 64px;
}
.reviews__card-date {
    font-weight: 600;
    color: #1A1B1E;
}
